.container-xxl{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(src/assets/assets.loginregister/img/pared-ladrillo-negro-loft-diseno-interiores-pintura-negra-fachada_73152-3989.avif);
    text-align: center;
    color: aliceblue;
    font-style: oblique;
}


.img-fluid{
    width: 300px;
    height: 400px;
    margin: 1px 260px;
}

    .container-lg{
    width: 100%;
    height: auto;
    margin: 35px 85px;
    display: grid;
    justify-content: center;
    text-align: center;
}

 .container-lg h1 {
    font-style: oblique;
    color: black;
}

.container-lg p{
    font-style: oblique;
}